In [1]:
import pandas as pd
from sklearn import ensemble
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import ExtraTreesClassifier

In [2]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

In [3]:
train.head()

      id    ad  link  timestamp  checkout  order_placed  grp  funnel_level
0   9026  6332   952      52762         1             1  101             0
1  10374  7463   952      31163         1             1  101             0
2   4564   404   952      62641         1             1  101             0
3   1278  4364   952      38577         1             1  101             0
4   1278  4364   952      38599         1             1  101             0

In [4]:
test.head()

     id    ad  link  timestamp  grp  funnel_level
0  1728  2088   529      60951   98             0
1  3236   764   529      45400   98             0
2   818   811   529      73244   98             0
3  3344  2036   523      77553   11             0
4  3444  1246   523      56985   11             0

In [5]:
X = [x for x in train.columns if x in ['timestamp']]
y=train['order_placed']
X_train, X_test, y_train, y_test = train_test_split(train[X], y, test_size=0.20, random_state=42)

In [6]:
clf = ensemble.GradientBoostingClassifier(n_estimators=100, max_depth=8,random_state=0,max_features='sqrt',min_samples_split=500,min_samples_leaf=50,subsample=0.8)
clf.fit(X_train,y_train)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='deviance', max_depth=8,
              max_features='sqrt', max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=50, min_samples_split=500,
              min_weight_fraction_leaf=0.0, n_estimators=100,
              presort='auto', random_state=0, subsample=0.8, verbose=0,
              warm_start=False)

In [7]:
pre=clf.predict(X_test)

In [8]:
print(accuracy_score(y_test, pre))

0.8638734266084951

In [9]:
clf.fit(train[X],y)
pre_test=clf.predict(test[X])
test_data=pd.read_csv('test_data .csv')
sub=pd.DataFrame()
sub['id']=test_data['id']
sub['order_placed']=pre_test
sub.to_csv('submission.csv',index=False)

In [57]:
clf = AdaBoostClassifier(n_estimators=100,random_state=0,learning_rate=0.1)
clf.fit(X_train,y_train)
pre=clf.predict(X_test)

In [58]:
print(accuracy_score(y_test, pre))

0.8484529361616769

In [59]:
clf

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None,
          learning_rate=0.1, n_estimators=100, random_state=0)

In [60]:
clf.fit(train[X],y)
pre_test=clf.predict(test[X])
test_data=pd.read_csv('test_data .csv')
sub=pd.DataFrame()
sub['id']=test_data['id']
sub['order_placed']=pre_test
sub.to_csv('submission.csv',index=False)

In [15]:
clf = ExtraTreesClassifier(n_estimators=100,random_state=0)
clf.fit(X_train,y_train)
pre=clf.predict(X_test)

In [16]:
print(accuracy_score(y_test, pre))

0.8726242415124618

In [17]:
# clf.fit(train[X],y)
pre_test=clf.predict(test[X])
test_data=pd.read_csv('test_data .csv')
sub=pd.DataFrame()
sub['id']=test_data['id']
sub['order_placed']=pre_test
sub.to_csv('submission.csv',index=False)