In [22]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import classification_report
import os, sys

In [23]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')
test_data=pd.read_csv('test_data .csv')

In [24]:
len(test_data)

49414

In [45]:
train_0=train[train['funnel_level']==0]
train_1=train[train['funnel_level']==1]
train_2=train[train['funnel_level']==2]

test_0=test[test['funnel_level']==0]
test_1=test[test['funnel_level']==1]
test_2=test[test['funnel_level']==2]

testd_0=test_data[test_data['funnel_level']=='lower']
testd_1=test_data[test_data['funnel_level']=='middle']
testd_2=test_data[test_data['funnel_level']=='upper']

y_0=train_0['order_placed']
y_1=train_1['order_placed']
y_2=train_2['order_placed']

y=train['order_placed']

In [26]:
def algo(aln='a',fl='a'):

    X = [x for x in train.columns if x not in fl]


    X_train_0, X_test_0, y_train_0, y_test_0 = train_test_split(train_0[X], y_0, test_size=0.20, random_state=42)
    X_train_1, X_test_1, y_train_1, y_test_1 = train_test_split(train_1[X], y_1, test_size=0.20, random_state=42)
    X_train_2, X_test_2, y_train_2, y_test_2 = train_test_split(train_2[X], y_2, test_size=0.20, random_state=42)

    if(aln=='1'):
        path='randomforest/{}'.format(fl[len(fl)-1])
        os.mkdir(path)
        for i in range(1,20):
            clf_0 = RandomForestClassifier(n_estimators=100, max_depth=i,random_state=0)
            clf_0.fit(train_0[X],y_0)
            clf_1 = RandomForestClassifier(n_estimators=100, max_depth=i,random_state=0)
            clf_1.fit(train_1[X],y_1)
            clf_2 = RandomForestClassifier(n_estimators=100, max_depth=i,random_state=0)
            clf_2.fit(train_2[X],y_2)
            
            pre_0=clf_0.predict(test_0[X])
            pre_1=clf_1.predict(test_1[X])
            pre_2=clf_2.predict(test_2[X])
            
#             pt=list(pre_t0)+list(pre_t1)+list(pre_t2)
            p=list(pre_0)+list(pre_1)+list(pre_2)
#             print(len(p))
            id1=list(testd_0['id'])+list(testd_1['id'])+list(testd_2['id'])
#             print(len(id1))
            sub=pd.DataFrame()
            sub['id']=id1
            sub['order_placed']=p
            sub.to_csv(path+'/submission{}-{}-{}.csv'.format(aln,fl[len(fl)-1],i),index=False)
            print(path+'/submission-feature{}-maxdepth{}.csv'.format(fl[len(fl)-1],i))
        
    
    elif(aln=='2'):
        for i in range(20):
            clf_0 = GradientBoostingClassifier(n_estimators=100, max_depth=i,random_state=0)
            clf_0.fit(train_0[X],y_0)
            clf_1 = GradientBoostingClassifier(n_estimators=100, max_depth=i,random_state=0)
            clf_1.fit(train_0[X],y_0)
            clf_2 = GradientBoostingClassifier(n_estimators=100, max_depth=i,random_state=0)
            clf_2.fit(train_0[X],y_0)
    
    elif(aln=='3'):
        clf_0 = LogisticRegression(solver='lbfgs',penalty = 'l2', C = 1000,random_state = 0)
        clf_0.fit(train_0[X],y_0)
        clf_1 = LogisticRegression(solver='lbfgs',penalty = 'l2', C = 1000,random_state = 0)
        clf_1.fit(train_0[X],y_0)
        clf_2 = LogisticRegression(solver='lbfgs',penalty = 'l2', C = 1000,random_state = 0)
        clf_2.fit(train_0[X],y_0)
        
    elif(aln=='4'):
        path='extratree/{}'.format(fl[len(fl)-1])
        os.mkdir(path)
        for i in range(1,20):
            clf_0 = ExtraTreesClassifier(random_state=0)
            clf_0.fit(train_0[X],y_0)
            clf_1 = ExtraTreesClassifier(random_state=0)
            clf_1.fit(train_0[X],y_0)
            clf_2 = ExtraTreesClassifier(random_state=0)
            clf_2.fit(train_0[X],y_0)

            pre_0=clf_0.predict(test_0[X])
            pre_1=clf_1.predict(test_1[X])
            pre_2=clf_2.predict(test_2[X])
            
#             pt=list(pre_t0)+list(pre_t1)+list(pre_t2)
            p=list(pre_0)+list(pre_1)+list(pre_2)
#             print(len(p))
            id1=list(testd_0['id'])+list(testd_1['id'])+list(testd_2['id'])
#             print(len(id1))
            sub=pd.DataFrame()
            sub['id']=id1
            sub['order_placed']=p
            sub.to_csv(path+'/submission{}-{}-{}.csv'.format(aln,fl[len(fl)-1],i),index=False)
            print(path+'/submission-feature{}-maxdepth{}.csv'.format(fl[len(fl)-1],i))
        
    elif(aln=='5'):
        clf_0 = GaussianNB()
        clf_0.fit(train_0[X],y_0)
        clf_1 = GaussianNB()
        clf_1.fit(train_0[X],y_0)
        clf_2 = GaussianNB()
        clf_2.fit(train_0[X],y_0)

In [31]:
# a=['order_placed','checkout','id','timestamp','link','funnel_level']
# for i in range(2,7):
#     algo(aln='4',fl=a[0:i])

X = [x for x in train.columns if x not in ['order_placed','checkout']]

In [32]:
train.corr()

,id,ad,link,timestamp,checkout,order_placed,grp,funnel_level
id,1.000000,0.008098,0.002957,-0.011087,-0.001865,-0.000194,-0.000755,-0.006849
ad,0.008098,1.000000,0.079770,-0.009516,-0.226101,-0.164078,-0.171237,0.435646
link,0.002957,0.079770,1.000000,-0.002624,-0.045005,-0.070691,-0.086160,0.098513
timestamp,-0.011087,-0.009516,-0.002624,1.000000,0.026103,-0.017282,0.003058,-0.015455
checkout,-0.001865,-0.226101,-0.045005,0.026103,1.000000,0.494041,0.142600,-0.425277
order_placed,-0.000194,-0.164078,-0.070691,-0.017282,0.494041,1.000000,0.120123,-0.421268
grp,-0.000755,-0.171237,-0.086160,0.003058,0.142600,0.120123,1.000000,-0.294162
funnel_level,-0.006849,0.435646,0.098513,-0.015455,-0.425277,-0.421268,-0.294162,1.000000

In [33]:
train

,id,ad,link,timestamp,checkout,order_placed,grp,funnel_level
0,9026,6332,952,52762,1,1,101,0
1,10374,7463,952,31163,1,1,101,0
2,4564,404,952,62641,1,1,101,0
3,1278,4364,952,38577,1,1,101,0
4,1278,4364,952,38599,1,1,101,0
5,2864,5798,943,82684,1,1,11,0
6,6798,6148,943,60441,1,1,11,0
7,12772,2619,943,57456,1,1,11,0
8,9719,3278,943,58254,1,1,11,0
9,3151,7429,943,29945,1,1,11,0
10,2161,9395,943,51355,1,1,11,0
11,4826,9347,943,57771,1,0,11,0
12,11212,9375,943,48054,1,1,11,0
13,7726,4731,943,46961,1,1,11,0
14,12662,4696,943,70759,1,0,11,0
15,10205,5328,943,53858,1,1,11,0
16,13479,5279,943,82480,1,1,11,0
17,11268,5300,943,77695,1,1,11,0
18,947,5910,943,41705,1,1,11,0
19,11732,5907,943,53807,1,1,11,0
20,2231,5889,943,66769,1,1,11,0
21,7269,6483,943,51304,0,1,11,0
22,2017,7061,943,48502,1,1,11,0
23,13212,7083,943,71637,1,1,11,0
24,5614,7031,943,51965,1,1,11,0
25,5873,7068,943,39632,1,1,11,0
26,11745,7090,943,65680,1,1,11,0
27,5072,7069,943,52484,1,0,11,0
28,5251,7624,943,59550,1,1,11,0
29,7615,7622,943,81022,1,1,11,0
...,...,...,...,...,...,...,...,...
199380,740,2660,2223,37317,1,0,46,1
199381,6958,2822,2223,78826,0,0,46,1
199382,3978,3379,2223,56186,0,0,46,1
199383,3844,4328,2223,37893,1,1,46,1
199384,1019,4578,2223,23056,0,0,46,1
199385,5270,1933,2204,76788,1,0,72,2
199386,975,2161,2204,68244,0,0,72,2
199387,5849,4470,2204,79587,1,0,72,2
199388,1454,10362,2218,50684,0,0,28,2
199389,1603,7144,2218,54718,0,0,28,2
199390,1679,10362,2215,59177,0,0,8,2
199391,3824,10362,2212,74769,1,0,106,2
199392,3824,10362,2212,74769,1,0,7,2
199393,4242,10362,2206,35193,0,0,76,2
199394,11698,10362,2205,75389,1,0,76,2
199395,13496,10362,2205,40134,1,1,76,2
199396,9308,10362,2205,43616,0,0,76,2
199397,1728,10362,2205,38510,0,0,76,2
199398,6736,5307,2203,79392,0,0,91,2
199399,2943,5360,2203,3231,0,0,91,2
199400,6736,5307,2203,79392,0,0,70,2
199401,2943,5360,2203,3231,0,0,70,2
199402,13560,10318,2209,76347,0,0,100,2
199403,11289,9772,2210,46224,0,0,100,2
199404,8762,3749,2211,61076,0,0,100,2
199405,11235,10362,2216,49218,0,1,15,2
199406,2222,10362,2216,55254,0,0,15,2
199407,3122,10362,2216,62126,1,0,15,2
199408,8680,1537,2216,52412,0,0,15,2
199409,6005,2287,2216,33861,0,0,15,2

In [78]:
X = [x for x in train.columns if x not in ['order_placed','checkout']]
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
# find best scored 5 features
select_feature = SelectKBest(chi2, k=3).fit(train[X],y)

In [79]:
print('Score list:', select_feature.scores_)
print('Feature list:', train[X].columns)

Score list: [1.76169874e+01 9.00925280e+06 8.48118578e+05 3.56084388e+05
 5.48889889e+04 1.06890925e+04]
Feature list: Index(['id', 'ad', 'link', 'timestamp', 'grp', 'funnel_level'], dtype='object')

In [83]:


from sklearn.feature_selection import RFE
# Create the RFE object and rank each pixel
clf_rf_3 = RandomForestClassifier()      
rfe = RFE(estimator=clf_rf_3, n_features_to_select=5, step=1)
rfe = rfe.fit(train[X],y)
rfe.support_

array([ True,  True,  True,  True, False,  True])

In [84]:
print('Chosen best 5 feature by rfe:',train[X].columns[rfe.support_])

Chosen best 5 feature by rfe: Index(['id', 'ad', 'link', 'timestamp', 'funnel_level'], dtype='object')

In [85]:
X = [x for x in train.columns if x not in ['order_placed','checkout','grp']]
clf_0 = RandomForestClassifier()
clf_0.fit(train[X],y)
# clf_1 = RandomForestClassifier(n_estimators=100, max_depth=2,random_state=0)
# clf_1.fit(train[X],y)
# clf_2 = RandomForestClassifier(n_estimators=100, max_depth=2,random_state=0)
# clf_2.fit(train[X],y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [86]:
pre_0=clf_0.predict(test[X])
# pre_1=clf_1.predict(test_1[X])
# pre_2=clf_2.predict(test_2[X])
            
#             pt=list(pre_t0)+list(pre_t1)+list(pre_t2)
# p=list(pre_0)+list(pre_1)+list(pre_2)
#             print(len(p))
# id1=list(testd_0['id'])+list(testd_1['id'])+list(testd_2['id'])
#             print(len(id1))
sub=pd.DataFrame()
sub['id']=test_data['id']
sub['order_placed']=pre_0
sub.to_csv('submission.csv',index=False)
# print('submission.csv'.format(fl[len(fl)-1],i))

In [63]:
sub

                         id  order_placed
0       session240518168612             0
1       session876173328405             0
2      session1382979469382             0
3       session927712936010             0
4       session970662608923             0
5       session678604832828             0
6       session876173328440             0
7       session919123001353             1
8      session1649267441740             0
9      session1357209665586             1
10     session1589137899611             0
11     session1434519076874             0
12     session1683627180088             0
13     session1099511627790             1
14     session1675037245493             0
15      session755914244109             1
16      session798863917140             0
17      session360777252897             1
18      session927712935963             0
19      session747324309529             0
20     session1563368095809             0
21      session953482739728             0
22     session1056561954889             0
23     session1468878815277             0
24       session77309411351             0
25     session1030792151093             0
26      session755914244104             1
27     session1657857376306             0
28      session764504178748             0
29     session1116691496975             1
...                     ...           ...
49384   session223338299400             0
49385   session446676598823             0
49386  session1279900254260             0
49387   session463856468016             0
49388  session1546188226637             0
49389  session1546188226637             0
49390   session970662608923             0
49391  session1675037245475             0
49392   session188978561064             0
49393  session1262720385072             0
49394  session1262720385072             0
49395   session420906795021             0
49396   session395136991281             0
49397    session85899346001             0
49398  session1090921693218             0
49399  session1090921693218             0
49400  session1090921693218             0
49401   session360777252879             0
49402   session987842478117             0
49403  session1494648619019             0
49404    session25769803817             0
49405    session25769803817             0
49406  session1563368095804             0
49407  session1047972020234             0
49408  session1563368095804             0
49409  session1700807049279             0
49410  session1675037245469             0
49411   session867583393856             0
49412   session549755813938             0
49413   session575525617674             0

[49414 rows x 2 columns]