In [1]:
import pandas as pd
from sklearn import preprocessing

In [2]:
train=pd.read_csv('training_data.csv')

In [3]:
train

,id,ad,link,timestamp,checkout,order_placed,grp,funnel_level
0,session446676598812,ad412316860435,link1288490188810,2018-04-30T14:39:22.000-04:00,1,1,grp936302870529,lower
1,session60129542152,ad584115552306,link1288490188810,2018-04-30T08:39:23.000-04:00,1,1,grp936302870529,lower
2,session1511828488251,ad1056561954841,link1288490188810,2018-04-30T17:24:01.000-04:00,1,1,grp936302870529,lower
3,session1142461300754,ad1666447310876,link1288490188810,2018-04-30T10:42:57.000-04:00,1,1,grp936302870529,lower
4,session1142461300754,ad1666447310876,link1288490188810,2018-04-30T10:43:19.000-04:00,1,1,grp936302870529,lower
5,session1314259992659,ad34,link1288490188800,2018-04-30T22:58:04.000-04:00,1,1,grp111669149696,lower
6,session206158430275,ad38,link1288490188800,2018-04-30T16:47:21.000-04:00,1,1,grp111669149696,lower
7,session8589934632,ad14,link1288490188800,2018-04-30T15:57:36.000-04:00,1,1,grp111669149696,lower
8,session523986010167,ad15,link1288490188800,2018-04-30T16:10:54.000-04:00,1,1,grp111669149696,lower
9,session1357209665542,ad58,link1288490188800,2018-04-30T08:19:05.000-04:00,1,1,grp111669149696,lower
10,session1236950581279,ad8589934618,link1288490188800,2018-04-30T14:15:55.000-04:00,1,1,grp111669149696,lower
11,session1546188226610,ad8589934595,link1288490188800,2018-04-30T16:02:51.000-04:00,1,0,grp111669149696,lower
12,session695784701963,ad8589934598,link1288490188800,2018-04-30T13:20:54.000-04:00,1,1,grp111669149696,lower
13,session309237645347,ad17179869208,link1288490188800,2018-04-30T13:02:41.000-04:00,1,1,grp111669149696,lower
14,session858993459270,ad17179869188,link1288490188800,2018-04-30T19:39:19.000-04:00,1,0,grp111669149696,lower
15,session584115552299,ad25769803828,link1288490188800,2018-04-30T14:57:38.000-04:00,1,1,grp111669149696,lower
16,session944892805202,ad25769803781,link1288490188800,2018-04-30T22:54:40.000-04:00,1,1,grp111669149696,lower
17,session695784702028,ad25769803791,link1288490188800,2018-04-30T21:34:55.000-04:00,1,1,grp111669149696,lower
18,session1108101562390,ad34359738435,link1288490188800,2018-04-30T11:35:05.000-04:00,1,1,grp111669149696,lower
19,session755914244140,ad34359738430,link1288490188800,2018-04-30T14:56:47.000-04:00,1,1,grp111669149696,lower
20,session1245540515897,ad34359738407,link1288490188800,2018-04-30T18:32:49.000-04:00,1,1,grp111669149696,lower
21,session25769803819,ad42949672981,link1288490188800,2018-04-30T14:15:04.000-04:00,0,1,grp111669149696,lower
22,session1219770712099,ad51539607565,link1288490188800,2018-04-30T13:28:22.000-04:00,1,1,grp111669149696,lower
23,session919123001364,ad51539607591,link1288490188800,2018-04-30T19:53:57.000-04:00,1,1,grp111669149696,lower
24,session1632087572522,ad51539607555,link1288490188800,2018-04-30T14:26:05.000-04:00,1,1,grp111669149696,lower
25,session1657857376284,ad51539607573,link1288490188800,2018-04-30T11:00:32.000-04:00,1,1,grp111669149696,lower
26,session755914244159,ad51539607599,link1288490188800,2018-04-30T18:14:40.000-04:00,1,1,grp111669149696,lower
27,session1571958030356,ad51539607574,link1288490188800,2018-04-30T14:34:44.000-04:00,1,0,grp111669149696,lower
28,session1589137899580,ad60129542179,link1288490188800,2018-04-30T16:32:30.000-04:00,1,1,grp111669149696,lower
29,session292057776215,ad60129542176,link1288490188800,2018-04-30T22:30:22.000-04:00,1,1,grp111669149696,lower
...,...,...,...,...,...,...,...,...
199380,session1082331758607,ad1400159338542,link1657857376281,2018-04-30T10:21:57.000-04:00,1,0,grp1589137899520,middle
199381,session223338299470,ad1425929142321,link1657857376281,2018-04-30T21:53:46.000-04:00,0,0,grp1589137899520,middle
199382,session1451698946090,ad1511828488250,link1657857376281,2018-04-30T15:36:26.000-04:00,0,0,grp1589137899520,middle
199383,session1434519076883,ad1657857376304,link1657857376281,2018-04-30T10:31:33.000-04:00,1,1,grp1589137899520,middle
199384,session111669149700,ad1700807049247,link1657857376281,2018-04-30T06:24:16.000-04:00,0,0,grp1589137899520,middle
199385,session1589137899603,ad128849018915,link1657857376258,2018-04-30T21:19:48.000-04:00,1,0,grp369367187456,upper
199386,session1108101562426,ad1322849927226,link1657857376258,2018-04-30T18:57:24.000-04:00,0,0,grp369367187456,upper
199387,session1649267441741,ad1683627180052,link1657857376258,2018-04-30T22:06:27.000-04:00,1,0,grp369367187456,upper
199388,session1159641169963,NaN,link1657857376276,2018-04-30T14:04:44.000-04:00,0,0,grp1340029796352,upper
199389,session1176821039157,ad523986010169,link1657857376276,2018-04-30T15:11:58.000-04:00,0,0,grp1340029796352,upper
199390,session1185410973742,NaN,link1657857376271,2018-04-30T16:26:17.000-04:00,0,0,grp1073741824001,upper
199391,session1425929142350,NaN,link1657857376267,2018-04-30T20:46:09.000-04:00,1,0,grp987842478080,upper
199392,session1425929142350,NaN,link1657857376267,2018-04-30T20:46:09.000-04:00,1,0,grp1073741824000,upper
199393,session1477468749836,NaN,link1657857376260,2018-04-30T09:46:33.000-04:00,0,0,grp446676598784,upper
199394,session75,NaN,link1657857376259,2018-04-30T20:56:29.000-04:00,1,0,grp446676598784,upper
199395,session94489280529,NaN,link1657857376259,2018-04-30T11:08:54.000-04:00,1,1,grp446676598784,upper
199396,session481036337183,NaN,link1657857376259,2018-04-30T12:06:56.000-04:00,0,0,grp446676598784,upper
199397,session1194000908300,NaN,link1657857376259,2018-04-30T10:41:50.000-04:00,0,0,grp446676598784,upper
199398,session197568495721,ad25769803803,link1657857376257,2018-04-30T22:03:12.000-04:00,0,0,grp687194767360,upper
199399,session1331439861761,ad266287972383,link1657857376257,2018-04-30T00:53:51.000-04:00,0,0,grp687194767360,upper
199400,session197568495721,ad25769803803,link1657857376257,2018-04-30T22:03:12.000-04:00,0,0,grp343597383680,upper
199401,session1331439861761,ad266287972383,link1657857376257,2018-04-30T00:53:51.000-04:00,0,0,grp343597383680,upper
199402,session94489280609,ad996432412677,link1657857376263,2018-04-30T21:12:27.000-04:00,0,0,grp936302870528,upper
199403,session704374636553,ad919123001358,link1657857376264,2018-04-30T12:50:24.000-04:00,0,0,grp936302870528,upper
199404,session420906795070,ad1563368095799,link1657857376266,2018-04-30T16:57:56.000-04:00,0,0,grp936302870528,upper
199405,session695784701988,NaN,link1657857376273,2018-04-30T13:40:18.000-04:00,0,1,grp1254130450432,upper
199406,session1245540515886,NaN,link1657857376273,2018-04-30T15:20:54.000-04:00,0,0,grp1254130450432,upper
199407,session1348619730991,NaN,link1657857376273,2018-04-30T17:15:26.000-04:00,1,0,grp1254130450432,upper
199408,session412316860455,ad1228360646711,link1657857376273,2018-04-30T14:33:32.000-04:00,0,0,grp1254130450432,upper
199409,session1675037245453,ad1348619730974,link1657857376273,2018-04-30T09:24:21.000-04:00,0,0,grp1254130450432,upper

In [4]:
train_copy=train.copy()

In [5]:
def unique_values(column='abc'):
    df=pd.DataFrame()
    df=train_copy[column].value_counts().reset_index()
    if(len(df)>50):
        df.columns=[column,'count']
        df.to_csv('{}_count.csv'.format(column))
        print(column+'------Generated as csv')
        print(df.head(20))
    else:
        print(column+'unique value')
        print(df)

In [6]:
def missing_data(df):
    df1=df.isna()
    for i in list(df.columns):
#         print(i)
#         print(df1[df1[i]==True])
        a=len(df1[df1[i]==True])
        if(a>0):
            print("the column with missing data",i)
            print("total missing data",len(df[df1[i]==True]))
            df[i]=df[i].fillna('noad')
            print(df)
    return df

In [7]:
def encoding_label(column="abc"):
    if(column!='timestamp' and column!='checkout' and column!='order_placed'):
        try:
            var=0
            var = preprocessing.LabelEncoder()
            var.fit(train_copy[column])
            print(column)
            print(var.classes_)
            train_copy[column]=var.transform(train_copy[column])
            print(train_copy[column])
        except:
            print(column+' not done with label encoding - error')
    else:
        if(column=='timestamp'):
            print("timestamp is skipped")
        elif(column=='checkout'):
            print("checkout is not need")
        elif(column=='order_placed'):
            print("order_placed is not need")

In [8]:
train_copy.nunique()

id              13977
ad              10362
link             5232
timestamp       62697
checkout            2
order_placed        2
grp               108
funnel_level        3
dtype: int64

id_count=pd.DataFrame()
print(len(train_copy['id'].value_counts()))
id_count=train_copy['id'].value_counts().reset_index()
id_count.columns=['id','count']
id_count.to_csv('id_count.csv')

In [9]:
for i in list(train.columns):
    print(i)
    unique_values(i)

id
id------Generated as csv
                      id  count
0    session************    530
1     session51539607562    235
2    session609885356060    187
3   session1683627180067    165
4   session1314259992599    155
5   session1254130450472    150
6   session1451698946113    145
7   session1176821039131    143
8   session1185410973702    143
9    session446676598812    140
10  session1228360646716    139
11   session292057776210    139
12   session609885356058    127
13   session146028888069    123
14  session1537598292007    122
15  session1357209665554    122
16   session274877906977    121
17   session395136991286    120
18     session8589934597    119
19  session1425929142338    118
ad
ad------Generated as csv
                 ad  count
0    ad************    246
1    ad369367187493    229
2    ad326417514499    219
3    ad146028888064    203
4   ad1108101562368    190
5   ad1099511627776    184
6   ad1700807049221    166
7    ad876173328398    160
8     ad17179869192    157
9    ad730144440337    157
10  ad1219770712107    153
11   ad403726925832    151
12   ad807453851657    141
13  ad1382979469357    131
14  ad1236950581260    129
15   ad798863917082    128
16  ad1597727834128    127
17   ad292057776133    124
18   ad412316860435    120
19   ad824633720864    120
link
link------Generated as csv
                 link  count
0    link798863917076  15485
1   link1288490188815  11578
2    link755914244118  10180
3    link532575944722   9617
4    link214748364811   9190
5   link1468878815250   5683
6    link996432412694   3260
7   link1194000908303   2942
8   link1125281431562   2879
9    link257698037775   2681
10   link369367187470   2605
11    link25769803776   2520
12  link1030792151065   2293
13   link627065225236   2293
14  link1288490188816   2070
15   link395136991258   1824
16     link8589934595   1656
17   link824633720850   1566
18  link1683627180045   1561
19    link34359738385   1179
timestamp
timestamp------Generated as csv
                        timestamp  count
0   2018-04-30T16:18:24.000-04:00     19
1   2018-04-30T12:33:50.000-04:00     18
2   2018-04-30T16:32:08.000-04:00     17
3   2018-04-30T10:57:40.000-04:00     17
4   2018-04-30T10:53:32.000-04:00     16
5   2018-04-30T16:18:35.000-04:00     16
6   2018-04-30T21:50:38.000-04:00     16
7   2018-04-30T12:21:36.000-04:00     16
8   2018-04-30T10:25:47.000-04:00     15
9   2018-04-30T14:00:05.000-04:00     15
10  2018-04-30T14:13:15.000-04:00     15
11  2018-04-30T19:44:40.000-04:00     15
12  2018-04-30T10:21:00.000-04:00     15
13  2018-04-30T08:22:17.000-04:00     15
14  2018-04-30T12:29:26.000-04:00     15
15  2018-04-30T16:25:29.000-04:00     15
16  2018-04-30T18:43:57.000-04:00     15
17  2018-04-30T14:25:22.000-04:00     15
18  2018-04-30T18:44:16.000-04:00     15
19  2018-04-30T15:15:30.000-04:00     15
checkout
checkoutunique value
   index  checkout
0      0    116350
1      1     83060
order_placed
order_placedunique value
   index  order_placed
0      0        159896
1      1         39514
grp
grp------Generated as csv
                 grp  count
0   grp1340029796352  93084
1   grp1511828488192  10156
2   grp1056561954816  10057
3    grp936302870528   9093
4    grp489626271744   4253
5   grp1108101562368   4197
6   grp1013612281856   3753
7   grp1589137899520   3509
8    grp644245094400   2725
9    grp377957122048   2676
10   grp670014898176   2522
11   grp257698037760   2418
12   grp111669149696   2094
13   grp936302870529   2087
14   grp687194767360   2051
15  grp1511828488193   2030
16   grp987842478080   1966
17   grp498216206336   1554
18  grp1468878815232   1401
19   grp206158430208   1399
funnel_level
funnel_levelunique value
    index  funnel_level
0   upper        120772
1  middle         58282
2   lower         20356

In [10]:
len(train)

199410

In [11]:
train_copy=missing_data(train)

the column with missing data ad
total missing data 79375
                          id               ad               link  \
0        session446676598812   ad412316860435  link1288490188810
1         session60129542152   ad584115552306  link1288490188810
2       session1511828488251  ad1056561954841  link1288490188810
3       session1142461300754  ad1666447310876  link1288490188810
4       session1142461300754  ad1666447310876  link1288490188810
5       session1314259992659             ad34  link1288490188800
6        session206158430275             ad38  link1288490188800
7          session8589934632             ad14  link1288490188800
8        session523986010167             ad15  link1288490188800
9       session1357209665542             ad58  link1288490188800
10      session1236950581279     ad8589934618  link1288490188800
11      session1546188226610     ad8589934595  link1288490188800
12       session695784701963     ad8589934598  link1288490188800
13       session309237645347    ad17179869208  link1288490188800
14       session858993459270    ad17179869188  link1288490188800
15       session584115552299    ad25769803828  link1288490188800
16       session944892805202    ad25769803781  link1288490188800
17       session695784702028    ad25769803791  link1288490188800
18      session1108101562390    ad34359738435  link1288490188800
19       session755914244140    ad34359738430  link1288490188800
20      session1245540515897    ad34359738407  link1288490188800
21        session25769803819    ad42949672981  link1288490188800
22      session1219770712099    ad51539607565  link1288490188800
23       session919123001364    ad51539607591  link1288490188800
24      session1632087572522    ad51539607555  link1288490188800
25      session1657857376284    ad51539607573  link1288490188800
26       session755914244159    ad51539607599  link1288490188800
27      session1571958030356    ad51539607574  link1288490188800
28      session1589137899580    ad60129542179  link1288490188800
29       session292057776215    ad60129542176  link1288490188800
...                      ...              ...                ...
199380  session1082331758607  ad1400159338542  link1657857376281
199381   session223338299470  ad1425929142321  link1657857376281
199382  session1451698946090  ad1511828488250  link1657857376281
199383  session1434519076883  ad1657857376304  link1657857376281
199384   session111669149700  ad1700807049247  link1657857376281
199385  session1589137899603   ad128849018915  link1657857376258
199386  session1108101562426  ad1322849927226  link1657857376258
199387  session1649267441741  ad1683627180052  link1657857376258
199388  session1159641169963             noad  link1657857376276
199389  session1176821039157   ad523986010169  link1657857376276
199390  session1185410973742             noad  link1657857376271
199391  session1425929142350             noad  link1657857376267
199392  session1425929142350             noad  link1657857376267
199393  session1477468749836             noad  link1657857376260
199394             session75             noad  link1657857376259
199395    session94489280529             noad  link1657857376259
199396   session481036337183             noad  link1657857376259
199397  session1194000908300             noad  link1657857376259
199398   session197568495721    ad25769803803  link1657857376257
199399  session1331439861761   ad266287972383  link1657857376257
199400   session197568495721    ad25769803803  link1657857376257
199401  session1331439861761   ad266287972383  link1657857376257
199402    session94489280609   ad996432412677  link1657857376263
199403   session704374636553   ad919123001358  link1657857376264
199404   session420906795070  ad1563368095799  link1657857376266
199405   session695784701988             noad  link1657857376273
199406  session1245540515886             noad  link1657857376273
199407  session1348619730991             noad  link1657857376273
199408   session412316860455  ad1228360646711  link1657857376273
199409  session1675037245453  ad1348619730974  link1657857376273

                            timestamp  checkout  order_placed  \
0       2018-04-30T14:39:22.000-04:00         1             1
1       2018-04-30T08:39:23.000-04:00         1             1
2       2018-04-30T17:24:01.000-04:00         1             1
3       2018-04-30T10:42:57.000-04:00         1             1
4       2018-04-30T10:43:19.000-04:00         1             1
5       2018-04-30T22:58:04.000-04:00         1             1
6       2018-04-30T16:47:21.000-04:00         1             1
7       2018-04-30T15:57:36.000-04:00         1             1
8       2018-04-30T16:10:54.000-04:00         1             1
9       2018-04-30T08:19:05.000-04:00         1             1
10      2018-04-30T14:15:55.000-04:00         1             1
11      2018-04-30T16:02:51.000-04:00         1             0
12      2018-04-30T13:20:54.000-04:00         1             1
13      2018-04-30T13:02:41.000-04:00         1             1
14      2018-04-30T19:39:19.000-04:00         1             0
15      2018-04-30T14:57:38.000-04:00         1             1
16      2018-04-30T22:54:40.000-04:00         1             1
17      2018-04-30T21:34:55.000-04:00         1             1
18      2018-04-30T11:35:05.000-04:00         1             1
19      2018-04-30T14:56:47.000-04:00         1             1
20      2018-04-30T18:32:49.000-04:00         1             1
21      2018-04-30T14:15:04.000-04:00         0             1
22      2018-04-30T13:28:22.000-04:00         1             1
23      2018-04-30T19:53:57.000-04:00         1             1
24      2018-04-30T14:26:05.000-04:00         1             1
25      2018-04-30T11:00:32.000-04:00         1             1
26      2018-04-30T18:14:40.000-04:00         1             1
27      2018-04-30T14:34:44.000-04:00         1             0
28      2018-04-30T16:32:30.000-04:00         1             1
29      2018-04-30T22:30:22.000-04:00         1             1
...                               ...       ...           ...
199380  2018-04-30T10:21:57.000-04:00         1             0
199381  2018-04-30T21:53:46.000-04:00         0             0
199382  2018-04-30T15:36:26.000-04:00         0             0
199383  2018-04-30T10:31:33.000-04:00         1             1
199384  2018-04-30T06:24:16.000-04:00         0             0
199385  2018-04-30T21:19:48.000-04:00         1             0
199386  2018-04-30T18:57:24.000-04:00         0             0
199387  2018-04-30T22:06:27.000-04:00         1             0
199388  2018-04-30T14:04:44.000-04:00         0             0
199389  2018-04-30T15:11:58.000-04:00         0             0
199390  2018-04-30T16:26:17.000-04:00         0             0
199391  2018-04-30T20:46:09.000-04:00         1             0
199392  2018-04-30T20:46:09.000-04:00         1             0
199393  2018-04-30T09:46:33.000-04:00         0             0
199394  2018-04-30T20:56:29.000-04:00         1             0
199395  2018-04-30T11:08:54.000-04:00         1             1
199396  2018-04-30T12:06:56.000-04:00         0             0
199397  2018-04-30T10:41:50.000-04:00         0             0
199398  2018-04-30T22:03:12.000-04:00         0             0
199399  2018-04-30T00:53:51.000-04:00         0             0
199400  2018-04-30T22:03:12.000-04:00         0             0
199401  2018-04-30T00:53:51.000-04:00         0             0
199402  2018-04-30T21:12:27.000-04:00         0             0
199403  2018-04-30T12:50:24.000-04:00         0             0
199404  2018-04-30T16:57:56.000-04:00         0             0
199405  2018-04-30T13:40:18.000-04:00         0             1
199406  2018-04-30T15:20:54.000-04:00         0             0
199407  2018-04-30T17:15:26.000-04:00         1             0
199408  2018-04-30T14:33:32.000-04:00         0             0
199409  2018-04-30T09:24:21.000-04:00         0             0

                     grp funnel_level
0        grp936302870529        lower
1        grp936302870529        lower
2        grp936302870529        lower
3        grp936302870529        lower
4        grp936302870529        lower
5        grp111669149696        lower
6        grp111669149696        lower
7        grp111669149696        lower
8        grp111669149696        lower
9        grp111669149696        lower
10       grp111669149696        lower
11       grp111669149696        lower
12       grp111669149696        lower
13       grp111669149696        lower
14       grp111669149696        lower
15       grp111669149696        lower
16       grp111669149696        lower
17       grp111669149696        lower
18       grp111669149696        lower
19       grp111669149696        lower
20       grp111669149696        lower
21       grp111669149696        lower
22       grp111669149696        lower
23       grp111669149696        lower
24       grp111669149696        lower
25       grp111669149696        lower
26       grp111669149696        lower
27       grp111669149696        lower
28       grp111669149696        lower
29       grp111669149696        lower
...                  ...          ...
199380  grp1589137899520       middle
199381  grp1589137899520       middle
199382  grp1589137899520       middle
199383  grp1589137899520       middle
199384  grp1589137899520       middle
199385   grp369367187456        upper
199386   grp369367187456        upper
199387   grp369367187456        upper
199388  grp1340029796352        upper
199389  grp1340029796352        upper
199390  grp1073741824001        upper
199391   grp987842478080        upper
199392  grp1073741824000        upper
199393   grp446676598784        upper
199394   grp446676598784        upper
199395   grp446676598784        upper
199396   grp446676598784        upper
199397   grp446676598784        upper
199398   grp687194767360        upper
199399   grp687194767360        upper
199400   grp343597383680        upper
199401   grp343597383680        upper
199402   grp936302870528        upper
199403   grp936302870528        upper
199404   grp936302870528        upper
199405  grp1254130450432        upper
199406  grp1254130450432        upper
199407  grp1254130450432        upper
199408  grp1254130450432        upper
199409  grp1254130450432        upper

[199410 rows x 8 columns]

In [12]:
train_copy

,id,ad,link,timestamp,checkout,order_placed,grp,funnel_level
0,session446676598812,ad412316860435,link1288490188810,2018-04-30T14:39:22.000-04:00,1,1,grp936302870529,lower
1,session60129542152,ad584115552306,link1288490188810,2018-04-30T08:39:23.000-04:00,1,1,grp936302870529,lower
2,session1511828488251,ad1056561954841,link1288490188810,2018-04-30T17:24:01.000-04:00,1,1,grp936302870529,lower
3,session1142461300754,ad1666447310876,link1288490188810,2018-04-30T10:42:57.000-04:00,1,1,grp936302870529,lower
4,session1142461300754,ad1666447310876,link1288490188810,2018-04-30T10:43:19.000-04:00,1,1,grp936302870529,lower
5,session1314259992659,ad34,link1288490188800,2018-04-30T22:58:04.000-04:00,1,1,grp111669149696,lower
6,session206158430275,ad38,link1288490188800,2018-04-30T16:47:21.000-04:00,1,1,grp111669149696,lower
7,session8589934632,ad14,link1288490188800,2018-04-30T15:57:36.000-04:00,1,1,grp111669149696,lower
8,session523986010167,ad15,link1288490188800,2018-04-30T16:10:54.000-04:00,1,1,grp111669149696,lower
9,session1357209665542,ad58,link1288490188800,2018-04-30T08:19:05.000-04:00,1,1,grp111669149696,lower
10,session1236950581279,ad8589934618,link1288490188800,2018-04-30T14:15:55.000-04:00,1,1,grp111669149696,lower
11,session1546188226610,ad8589934595,link1288490188800,2018-04-30T16:02:51.000-04:00,1,0,grp111669149696,lower
12,session695784701963,ad8589934598,link1288490188800,2018-04-30T13:20:54.000-04:00,1,1,grp111669149696,lower
13,session309237645347,ad17179869208,link1288490188800,2018-04-30T13:02:41.000-04:00,1,1,grp111669149696,lower
14,session858993459270,ad17179869188,link1288490188800,2018-04-30T19:39:19.000-04:00,1,0,grp111669149696,lower
15,session584115552299,ad25769803828,link1288490188800,2018-04-30T14:57:38.000-04:00,1,1,grp111669149696,lower
16,session944892805202,ad25769803781,link1288490188800,2018-04-30T22:54:40.000-04:00,1,1,grp111669149696,lower
17,session695784702028,ad25769803791,link1288490188800,2018-04-30T21:34:55.000-04:00,1,1,grp111669149696,lower
18,session1108101562390,ad34359738435,link1288490188800,2018-04-30T11:35:05.000-04:00,1,1,grp111669149696,lower
19,session755914244140,ad34359738430,link1288490188800,2018-04-30T14:56:47.000-04:00,1,1,grp111669149696,lower
20,session1245540515897,ad34359738407,link1288490188800,2018-04-30T18:32:49.000-04:00,1,1,grp111669149696,lower
21,session25769803819,ad42949672981,link1288490188800,2018-04-30T14:15:04.000-04:00,0,1,grp111669149696,lower
22,session1219770712099,ad51539607565,link1288490188800,2018-04-30T13:28:22.000-04:00,1,1,grp111669149696,lower
23,session919123001364,ad51539607591,link1288490188800,2018-04-30T19:53:57.000-04:00,1,1,grp111669149696,lower
24,session1632087572522,ad51539607555,link1288490188800,2018-04-30T14:26:05.000-04:00,1,1,grp111669149696,lower
25,session1657857376284,ad51539607573,link1288490188800,2018-04-30T11:00:32.000-04:00,1,1,grp111669149696,lower
26,session755914244159,ad51539607599,link1288490188800,2018-04-30T18:14:40.000-04:00,1,1,grp111669149696,lower
27,session1571958030356,ad51539607574,link1288490188800,2018-04-30T14:34:44.000-04:00,1,0,grp111669149696,lower
28,session1589137899580,ad60129542179,link1288490188800,2018-04-30T16:32:30.000-04:00,1,1,grp111669149696,lower
29,session292057776215,ad60129542176,link1288490188800,2018-04-30T22:30:22.000-04:00,1,1,grp111669149696,lower
...,...,...,...,...,...,...,...,...
199380,session1082331758607,ad1400159338542,link1657857376281,2018-04-30T10:21:57.000-04:00,1,0,grp1589137899520,middle
199381,session223338299470,ad1425929142321,link1657857376281,2018-04-30T21:53:46.000-04:00,0,0,grp1589137899520,middle
199382,session1451698946090,ad1511828488250,link1657857376281,2018-04-30T15:36:26.000-04:00,0,0,grp1589137899520,middle
199383,session1434519076883,ad1657857376304,link1657857376281,2018-04-30T10:31:33.000-04:00,1,1,grp1589137899520,middle
199384,session111669149700,ad1700807049247,link1657857376281,2018-04-30T06:24:16.000-04:00,0,0,grp1589137899520,middle
199385,session1589137899603,ad128849018915,link1657857376258,2018-04-30T21:19:48.000-04:00,1,0,grp369367187456,upper
199386,session1108101562426,ad1322849927226,link1657857376258,2018-04-30T18:57:24.000-04:00,0,0,grp369367187456,upper
199387,session1649267441741,ad1683627180052,link1657857376258,2018-04-30T22:06:27.000-04:00,1,0,grp369367187456,upper
199388,session1159641169963,noad,link1657857376276,2018-04-30T14:04:44.000-04:00,0,0,grp1340029796352,upper
199389,session1176821039157,ad523986010169,link1657857376276,2018-04-30T15:11:58.000-04:00,0,0,grp1340029796352,upper
199390,session1185410973742,noad,link1657857376271,2018-04-30T16:26:17.000-04:00,0,0,grp1073741824001,upper
199391,session1425929142350,noad,link1657857376267,2018-04-30T20:46:09.000-04:00,1,0,grp987842478080,upper
199392,session1425929142350,noad,link1657857376267,2018-04-30T20:46:09.000-04:00,1,0,grp1073741824000,upper
199393,session1477468749836,noad,link1657857376260,2018-04-30T09:46:33.000-04:00,0,0,grp446676598784,upper
199394,session75,noad,link1657857376259,2018-04-30T20:56:29.000-04:00,1,0,grp446676598784,upper
199395,session94489280529,noad,link1657857376259,2018-04-30T11:08:54.000-04:00,1,1,grp446676598784,upper
199396,session481036337183,noad,link1657857376259,2018-04-30T12:06:56.000-04:00,0,0,grp446676598784,upper
199397,session1194000908300,noad,link1657857376259,2018-04-30T10:41:50.000-04:00,0,0,grp446676598784,upper
199398,session197568495721,ad25769803803,link1657857376257,2018-04-30T22:03:12.000-04:00,0,0,grp687194767360,upper
199399,session1331439861761,ad266287972383,link1657857376257,2018-04-30T00:53:51.000-04:00,0,0,grp687194767360,upper
199400,session197568495721,ad25769803803,link1657857376257,2018-04-30T22:03:12.000-04:00,0,0,grp343597383680,upper
199401,session1331439861761,ad266287972383,link1657857376257,2018-04-30T00:53:51.000-04:00,0,0,grp343597383680,upper
199402,session94489280609,ad996432412677,link1657857376263,2018-04-30T21:12:27.000-04:00,0,0,grp936302870528,upper
199403,session704374636553,ad919123001358,link1657857376264,2018-04-30T12:50:24.000-04:00,0,0,grp936302870528,upper
199404,session420906795070,ad1563368095799,link1657857376266,2018-04-30T16:57:56.000-04:00,0,0,grp936302870528,upper
199405,session695784701988,noad,link1657857376273,2018-04-30T13:40:18.000-04:00,0,1,grp1254130450432,upper
199406,session1245540515886,noad,link1657857376273,2018-04-30T15:20:54.000-04:00,0,0,grp1254130450432,upper
199407,session1348619730991,noad,link1657857376273,2018-04-30T17:15:26.000-04:00,1,0,grp1254130450432,upper
199408,session412316860455,ad1228360646711,link1657857376273,2018-04-30T14:33:32.000-04:00,0,0,grp1254130450432,upper
199409,session1675037245453,ad1348619730974,link1657857376273,2018-04-30T09:24:21.000-04:00,0,0,grp1254130450432,upper

In [13]:
for i in list(train.columns):
    encoding_label(i)

id
['session************' 'session0' 'session10' ... 'session996432412740'
 'session996432412741' 'session996432412743']
0          9026
1         10374
2          4564
3          1278
4          1278
5          2864
6          6798
7         12772
8          9719
9          3151
10         2161
11         4826
12        11212
13         7726
14        12662
15        10205
16        13479
17        11268
18          947
19        11732
20         2231
21         7269
22         2017
23        13212
24         5614
25         5873
26        11745
27         5072
28         5251
29         7615
          ...
199380      740
199381     6958
199382     3978
199383     3844
199384     1019
199385     5270
199386      975
199387     5849
199388     1454
199389     1603
199390     1679
199391     3824
199392     3824
199393     4242
199394    11698
199395    13496
199396     9308
199397     1728
199398     6736
199399     2943
199400     6736
199401     2943
199402    13560
199403    11289
199404     8762
199405    11235
199406     2222
199407     3122
199408     8680
199409     6005
Name: id, Length: 199410, dtype: int64
ad
['ad************' 'ad0' 'ad1' ... 'ad996432412728' 'ad996432412729' 'noad']
0          6332
1          7463
2           404
3          4364
4          4364
5          5798
6          6148
7          2619
8          3278
9          7429
10         9395
11         9347
12         9375
13         4731
14         4696
15         5328
16         5279
17         5300
18         5910
19         5907
20         5889
21         6483
22         7061
23         7083
24         7031
25         7068
26         7090
27         7069
28         7624
29         7622
          ...
199380     2660
199381     2822
199382     3379
199383     4328
199384     4578
199385     1933
199386     2161
199387     4470
199388    10362
199389     7144
199390    10362
199391    10362
199392    10362
199393    10362
199394    10362
199395    10362
199396    10362
199397    10362
199398     5307
199399     5360
199400     5307
199401     5360
199402    10318
199403     9772
199404     3749
199405    10362
199406    10362
199407    10362
199408     1537
199409     2287
Name: ad, Length: 199410, dtype: int64
link
['link************' 'link0' 'link1' ... 'link996432412702'
 'link996432412703' 'link996432412704']
0          952
1          952
2          952
3          952
4          952
5          943
6          943
7          943
8          943
9          943
10         943
11         943
12         943
13         943
14         943
15         943
16         943
17         943
18         943
19         943
20         943
21         943
22         943
23         943
24         943
25         943
26         943
27         943
28         943
29         943
          ...
199380    2223
199381    2223
199382    2223
199383    2223
199384    2223
199385    2204
199386    2204
199387    2204
199388    2218
199389    2218
199390    2215
199391    2212
199392    2212
199393    2206
199394    2205
199395    2205
199396    2205
199397    2205
199398    2203
199399    2203
199400    2203
199401    2203
199402    2209
199403    2210
199404    2211
199405    2216
199406    2216
199407    2216
199408    2216
199409    2216
Name: link, Length: 199410, dtype: int64
timestamp is skipped
checkout is not need
order_placed is not need
grp
['grp0' 'grp1013612281856' 'grp1022202216448' 'grp1022202216449'
 'grp1039382085632' 'grp1047972020224' 'grp1056561954816'
 'grp1073741824000' 'grp1073741824001' 'grp1090921693184'
 'grp1108101562368' 'grp111669149696' 'grp1159641169920'
 'grp1194000908288' 'grp1245540515840' 'grp1254130450432'
 'grp1254130450433' 'grp1254130450434' 'grp1271310319616'
 'grp1279900254208' 'grp1279900254209' 'grp1279900254210'
 'grp1279900254211' 'grp128849018880' 'grp1297080123392'
 'grp1314259992576' 'grp1314259992577' 'grp1322849927168'
 'grp1340029796352' 'grp1357209665536' 'grp1357209665537'
 'grp1357209665538' 'grp1391569403904' 'grp1425929142272'
 'grp1434519076864' 'grp1434519076865' 'grp1443109011456'
 'grp1468878815232' 'grp1468878815233' 'grp1494648619008'
 'grp1511828488192' 'grp1511828488193' 'grp1520418422784'
 'grp1529008357376' 'grp1571958030336' 'grp1580547964928'
 'grp1589137899520' 'grp1606317768704' 'grp163208757248'
 'grp1649267441664' 'grp1666447310848' 'grp1709396983808'
 'grp1709396983809' 'grp17179869184' 'grp17179869185' 'grp180388626432'
 'grp197568495616' 'grp206158430208' 'grp214748364800' 'grp249108103168'
 'grp257698037760' 'grp257698037761' 'grp283467841536' 'grp309237645312'
 'grp309237645313' 'grp317827579904' 'grp317827579905' 'grp317827579906'
 'grp326417514496' 'grp34359738368' 'grp343597383680' 'grp343597383681'
 'grp369367187456' 'grp377957122048' 'grp429496729600' 'grp438086664192'
 'grp446676598784' 'grp463856467968' 'grp489626271744' 'grp489626271745'
 'grp489626271746' 'grp498216206336' 'grp51539607552' 'grp523986010112'
 'grp566935683072' 'grp584115552256' 'grp601295421440' 'grp627065225216'
 'grp635655159808' 'grp644245094400' 'grp670014898176' 'grp687194767360'
 'grp704374636544' 'grp721554505728' 'grp738734374912' 'grp764504178688'
 'grp841813590016' 'grp85899345920' 'grp919123001344' 'grp927712935936'
 'grp936302870528' 'grp936302870529' 'grp94489280512' 'grp962072674304'
 'grp970662608896' 'grp979252543488' 'grp987842478080' 'grp996432412672']
0         101
1         101
2         101
3         101
4         101
5          11
6          11
7          11
8          11
9          11
10         11
11         11
12         11
13         11
14         11
15         11
16         11
17         11
18         11
19         11
20         11
21         11
22         11
23         11
24         11
25         11
26         11
27         11
28         11
29         11
         ...
199380     46
199381     46
199382     46
199383     46
199384     46
199385     72
199386     72
199387     72
199388     28
199389     28
199390      8
199391    106
199392      7
199393     76
199394     76
199395     76
199396     76
199397     76
199398     91
199399     91
199400     70
199401     70
199402    100
199403    100
199404    100
199405     15
199406     15
199407     15
199408     15
199409     15
Name: grp, Length: 199410, dtype: int64
funnel_level
['lower' 'middle' 'upper']
0         0
1         0
2         0
3         0
4         0
5         0
6         0
7         0
8         0
9         0
10        0
11        0
12        0
13        0
14        0
15        0
16        0
17        0
18        0
19        0
20        0
21        0
22        0
23        0
24        0
25        0
26        0
27        0
28        0
29        0
         ..
199380    1
199381    1
199382    1
199383    1
199384    1
199385    2
199386    2
199387    2
199388    2
199389    2
199390    2
199391    2
199392    2
199393    2
199394    2
199395    2
199396    2
199397    2
199398    2
199399    2
199400    2
199401    2
199402    2
199403    2
199404    2
199405    2
199406    2
199407    2
199408    2
199409    2
Name: funnel_level, Length: 199410, dtype: int64

In [14]:
len(train_copy['timestamp'])

199410

In [15]:
train_copy

,id,ad,link,timestamp,checkout,order_placed,grp,funnel_level
0,9026,6332,952,2018-04-30T14:39:22.000-04:00,1,1,101,0
1,10374,7463,952,2018-04-30T08:39:23.000-04:00,1,1,101,0
2,4564,404,952,2018-04-30T17:24:01.000-04:00,1,1,101,0
3,1278,4364,952,2018-04-30T10:42:57.000-04:00,1,1,101,0
4,1278,4364,952,2018-04-30T10:43:19.000-04:00,1,1,101,0
5,2864,5798,943,2018-04-30T22:58:04.000-04:00,1,1,11,0
6,6798,6148,943,2018-04-30T16:47:21.000-04:00,1,1,11,0
7,12772,2619,943,2018-04-30T15:57:36.000-04:00,1,1,11,0
8,9719,3278,943,2018-04-30T16:10:54.000-04:00,1,1,11,0
9,3151,7429,943,2018-04-30T08:19:05.000-04:00,1,1,11,0
10,2161,9395,943,2018-04-30T14:15:55.000-04:00,1,1,11,0
11,4826,9347,943,2018-04-30T16:02:51.000-04:00,1,0,11,0
12,11212,9375,943,2018-04-30T13:20:54.000-04:00,1,1,11,0
13,7726,4731,943,2018-04-30T13:02:41.000-04:00,1,1,11,0
14,12662,4696,943,2018-04-30T19:39:19.000-04:00,1,0,11,0
15,10205,5328,943,2018-04-30T14:57:38.000-04:00,1,1,11,0
16,13479,5279,943,2018-04-30T22:54:40.000-04:00,1,1,11,0
17,11268,5300,943,2018-04-30T21:34:55.000-04:00,1,1,11,0
18,947,5910,943,2018-04-30T11:35:05.000-04:00,1,1,11,0
19,11732,5907,943,2018-04-30T14:56:47.000-04:00,1,1,11,0
20,2231,5889,943,2018-04-30T18:32:49.000-04:00,1,1,11,0
21,7269,6483,943,2018-04-30T14:15:04.000-04:00,0,1,11,0
22,2017,7061,943,2018-04-30T13:28:22.000-04:00,1,1,11,0
23,13212,7083,943,2018-04-30T19:53:57.000-04:00,1,1,11,0
24,5614,7031,943,2018-04-30T14:26:05.000-04:00,1,1,11,0
25,5873,7068,943,2018-04-30T11:00:32.000-04:00,1,1,11,0
26,11745,7090,943,2018-04-30T18:14:40.000-04:00,1,1,11,0
27,5072,7069,943,2018-04-30T14:34:44.000-04:00,1,0,11,0
28,5251,7624,943,2018-04-30T16:32:30.000-04:00,1,1,11,0
29,7615,7622,943,2018-04-30T22:30:22.000-04:00,1,1,11,0
...,...,...,...,...,...,...,...,...
199380,740,2660,2223,2018-04-30T10:21:57.000-04:00,1,0,46,1
199381,6958,2822,2223,2018-04-30T21:53:46.000-04:00,0,0,46,1
199382,3978,3379,2223,2018-04-30T15:36:26.000-04:00,0,0,46,1
199383,3844,4328,2223,2018-04-30T10:31:33.000-04:00,1,1,46,1
199384,1019,4578,2223,2018-04-30T06:24:16.000-04:00,0,0,46,1
199385,5270,1933,2204,2018-04-30T21:19:48.000-04:00,1,0,72,2
199386,975,2161,2204,2018-04-30T18:57:24.000-04:00,0,0,72,2
199387,5849,4470,2204,2018-04-30T22:06:27.000-04:00,1,0,72,2
199388,1454,10362,2218,2018-04-30T14:04:44.000-04:00,0,0,28,2
199389,1603,7144,2218,2018-04-30T15:11:58.000-04:00,0,0,28,2
199390,1679,10362,2215,2018-04-30T16:26:17.000-04:00,0,0,8,2
199391,3824,10362,2212,2018-04-30T20:46:09.000-04:00,1,0,106,2
199392,3824,10362,2212,2018-04-30T20:46:09.000-04:00,1,0,7,2
199393,4242,10362,2206,2018-04-30T09:46:33.000-04:00,0,0,76,2
199394,11698,10362,2205,2018-04-30T20:56:29.000-04:00,1,0,76,2
199395,13496,10362,2205,2018-04-30T11:08:54.000-04:00,1,1,76,2
199396,9308,10362,2205,2018-04-30T12:06:56.000-04:00,0,0,76,2
199397,1728,10362,2205,2018-04-30T10:41:50.000-04:00,0,0,76,2
199398,6736,5307,2203,2018-04-30T22:03:12.000-04:00,0,0,91,2
199399,2943,5360,2203,2018-04-30T00:53:51.000-04:00,0,0,91,2
199400,6736,5307,2203,2018-04-30T22:03:12.000-04:00,0,0,70,2
199401,2943,5360,2203,2018-04-30T00:53:51.000-04:00,0,0,70,2
199402,13560,10318,2209,2018-04-30T21:12:27.000-04:00,0,0,100,2
199403,11289,9772,2210,2018-04-30T12:50:24.000-04:00,0,0,100,2
199404,8762,3749,2211,2018-04-30T16:57:56.000-04:00,0,0,100,2
199405,11235,10362,2216,2018-04-30T13:40:18.000-04:00,0,1,15,2
199406,2222,10362,2216,2018-04-30T15:20:54.000-04:00,0,0,15,2
199407,3122,10362,2216,2018-04-30T17:15:26.000-04:00,1,0,15,2
199408,8680,1537,2216,2018-04-30T14:33:32.000-04:00,0,0,15,2
199409,6005,2287,2216,2018-04-30T09:24:21.000-04:00,0,0,15,2

In [55]:
a=[]
for i in train_copy['timestamp']:
#     i=str(i)
    i=i.replace(i[0:11],'')
    i=i.replace('.000-04:00','')
    a.append(i)

In [57]:
train_copy['timestamp']=a

In [58]:
train_copy

,id,ad,link,timestamp,checkout,order_placed,grp,funnel_level
0,9026,6332,952,14:39:22,1,1,101,0
1,10374,7463,952,08:39:23,1,1,101,0
2,4564,404,952,17:24:01,1,1,101,0
3,1278,4364,952,10:42:57,1,1,101,0
4,1278,4364,952,10:43:19,1,1,101,0
5,2864,5798,943,22:58:04,1,1,11,0
6,6798,6148,943,16:47:21,1,1,11,0
7,12772,2619,943,15:57:36,1,1,11,0
8,9719,3278,943,16:10:54,1,1,11,0
9,3151,7429,943,08:19:05,1,1,11,0
10,2161,9395,943,14:15:55,1,1,11,0
11,4826,9347,943,16:02:51,1,0,11,0
12,11212,9375,943,13:20:54,1,1,11,0
13,7726,4731,943,13:02:41,1,1,11,0
14,12662,4696,943,19:39:19,1,0,11,0
15,10205,5328,943,14:57:38,1,1,11,0
16,13479,5279,943,22:54:40,1,1,11,0
17,11268,5300,943,21:34:55,1,1,11,0
18,947,5910,943,11:35:05,1,1,11,0
19,11732,5907,943,14:56:47,1,1,11,0
20,2231,5889,943,18:32:49,1,1,11,0
21,7269,6483,943,14:15:04,0,1,11,0
22,2017,7061,943,13:28:22,1,1,11,0
23,13212,7083,943,19:53:57,1,1,11,0
24,5614,7031,943,14:26:05,1,1,11,0
25,5873,7068,943,11:00:32,1,1,11,0
26,11745,7090,943,18:14:40,1,1,11,0
27,5072,7069,943,14:34:44,1,0,11,0
28,5251,7624,943,16:32:30,1,1,11,0
29,7615,7622,943,22:30:22,1,1,11,0
...,...,...,...,...,...,...,...,...
199380,740,2660,2223,10:21:57,1,0,46,1
199381,6958,2822,2223,21:53:46,0,0,46,1
199382,3978,3379,2223,15:36:26,0,0,46,1
199383,3844,4328,2223,10:31:33,1,1,46,1
199384,1019,4578,2223,06:24:16,0,0,46,1
199385,5270,1933,2204,21:19:48,1,0,72,2
199386,975,2161,2204,18:57:24,0,0,72,2
199387,5849,4470,2204,22:06:27,1,0,72,2
199388,1454,10362,2218,14:04:44,0,0,28,2
199389,1603,7144,2218,15:11:58,0,0,28,2
199390,1679,10362,2215,16:26:17,0,0,8,2
199391,3824,10362,2212,20:46:09,1,0,106,2
199392,3824,10362,2212,20:46:09,1,0,7,2
199393,4242,10362,2206,09:46:33,0,0,76,2
199394,11698,10362,2205,20:56:29,1,0,76,2
199395,13496,10362,2205,11:08:54,1,1,76,2
199396,9308,10362,2205,12:06:56,0,0,76,2
199397,1728,10362,2205,10:41:50,0,0,76,2
199398,6736,5307,2203,22:03:12,0,0,91,2
199399,2943,5360,2203,00:53:51,0,0,91,2
199400,6736,5307,2203,22:03:12,0,0,70,2
199401,2943,5360,2203,00:53:51,0,0,70,2
199402,13560,10318,2209,21:12:27,0,0,100,2
199403,11289,9772,2210,12:50:24,0,0,100,2
199404,8762,3749,2211,16:57:56,0,0,100,2
199405,11235,10362,2216,13:40:18,0,1,15,2
199406,2222,10362,2216,15:20:54,0,0,15,2
199407,3122,10362,2216,17:15:26,1,0,15,2
199408,8680,1537,2216,14:33:32,0,0,15,2
199409,6005,2287,2216,09:24:21,0,0,15,2

In [60]:
l=[]
def get_sec(time_str):
    for i in time_str:
        h, m, s = i.split(':')
        l.append(int(h) * 3600 + int(m) * 60 + int(s))
    return l

In [61]:
a=get_sec(train_copy['timestamp'])

In [62]:
a

[52762,
 31163,
 62641,
 38577,
 38599,
 82684,
 60441,
 57456,
 58254,
 29945,
 51355,
 57771,
 48054,
 46961,
 70759,
 53858,
 82480,
 77695,
 41705,
 53807,
 66769,
 51304,
 48502,
 71637,
 51965,
 39632,
 65680,
 52484,
 59550,
 81022,
 83920,
 69393,
 56991,
 41594,
 41241,
 40555,
 49925,
 50540,
 45680,
 79134,
 56377,
 85530,
 55129,
 35534,
 59241,
 74606,
 50596,
 56070,
 55755,
 72737,
 78872,
 66666,
 27186,
 38033,
 40463,
 55118,
 74556,
 50279,
 73460,
 48644,
 71573,
 65687,
 80631,
 37384,
 69743,
 48512,
 72776,
 75798,
 45359,
 51308,
 82251,
 82487,
 71541,
 57594,
 45230,
 74972,
 46100,
 84839,
 59834,
 35477,
 35059,
 54618,
 41808,
 70910,
 52916,
 53169,
 53796,
 80251,
 78816,
 59822,
 76094,
 34694,
 45821,
 59167,
 39890,
 57312,
 57666,
 44113,
 41037,
 57409,
 69628,
 8614,
 48686,
 43829,
 53433,
 61503,
 66456,
 48909,
 56526,
 68861,
 79237,
 77460,
 58309,
 46203,
 48608,
 42590,
 76626,
 40676,
 53087,
 76285,
 75110,
 33715,
 52719,
 39477,
 40758,
 68119,
 51361,
 76222,
 74971,
 68220,
 52411,
 47070,
 50046,
 30460,
 65252,
 35821,
 78485,
 40874,
 33934,
 47363,
 78113,
 35922,
 79888,
 34819,
 41458,
 51822,
 32482,
 49325,
 55957,
 43885,
 78112,
 86154,
 57741,
 58154,
 58544,
 39034,
 21200,
 77660,
 38532,
 44389,
 56448,
 36987,
 46577,
 57140,
 72002,
 12277,
 1248,
 59240,
 40997,
 85930,
 59054,
 46972,
 80817,
 12686,
 47878,
 75893,
 52220,
 48055,
 68324,
 48221,
 42077,
 67458,
 34078,
 41227,
 69982,
 73910,
 76650,
 44968,
 77472,
 68225,
 53294,
 80099,
 75309,
 74675,
 51570,
 61815,
 68726,
 56117,
 49290,
 33983,
 43081,
 76265,
 86098,
 81816,
 42942,
 60841,
 40165,
 35406,
 48379,
 39735,
 77561,
 78146,
 37489,
 69536,
 27743,
 40636,
 44780,
 79125,
 82164,
 58780,
 85127,
 36129,
 58080,
 60849,
 81718,
 38731,
 36936,
 25960,
 48429,
 31178,
 62676,
 38725,
 66254,
 77015,
 31266,
 67430,
 49707,
 74340,
 26864,
 69548,
 32805,
 62145,
 65322,
 72470,
 39367,
 42066,
 55970,
 31003,
 60410,
 58135,
 54736,
 37108,
 52422,
 54181,
 46204,
 27915,
 80535,
 85226,
 57958,
 75638,
 73853,
 37299,
 77474,
 77961,
 82191,
 46149,
 38701,
 71972,
 59263,
 70349,
 35100,
 45034,
 50125,
 78495,
 43793,
 74077,
 48088,
 54450,
 71619,
 65887,
 31027,
 60702,
 72465,
 57709,
 9866,
 12404,
 83079,
 68373,
 46589,
 63677,
 83086,
 56600,
 41849,
 44764,
 62655,
 60648,
 4071,
 63554,
 46812,
 51383,
 79247,
 40186,
 44118,
 49299,
 32368,
 44131,
 42749,
 62728,
 50837,
 68234,
 62916,
 62106,
 41800,
 66430,
 60421,
 61281,
 34141,
 38640,
 70225,
 37645,
 40051,
 76812,
 55281,
 46878,
 63765,
 55572,
 68336,
 70459,
 58443,
 61690,
 53350,
 77731,
 76864,
 69151,
 1780,
 75586,
 28184,
 61059,
 49048,
 66083,
 186,
 58607,
 83456,
 58379,
 50977,
 45627,
 65157,
 54705,
 58386,
 79883,
 77690,
 69781,
 77515,
 68028,
 61222,
 78047,
 31869,
 51902,
 42429,
 52082,
 44429,
 52378,
 73739,
 67175,
 51446,
 66695,
 82315,
 82840,
 70604,
 56713,
 38317,
 56342,
 28772,
 51012,
 45572,
 37927,
 74056,
 67519,
 59529,
 59118,
 85313,
 68853,
 43820,
 70087,
 24571,
 77670,
 56779,
 37864,
 62716,
 54861,
 74837,
 60350,
 82979,
 43594,
 49468,
 39718,
 84594,
 54018,
 35814,
 36844,
 39580,
 82981,
 66197,
 68327,
 67766,
 39512,
 30793,
 45272,
 43742,
 57613,
 38965,
 27078,
 69829,
 2572,
 60291,
 84306,
 52148,
 64778,
 50953,
 40187,
 50858,
 51956,
 68589,
 57667,
 67779,
 73490,
 60647,
 48588,
 73959,
 55844,
 73819,
 41772,
 49164,
 51405,
 43600,
 42659,
 40025,
 43204,
 40906,
 36100,
 55515,
 44478,
 82388,
 33699,
 43884,
 50413,
 72913,
 39395,
 29707,
 63162,
 41483,
 51990,
 48785,
 37395,
 58128,
 82219,
 68066,
 72102,
 83049,
 39626,
 802,
 81145,
 39548,
 1217,
 35630,
 45206,
 52163,
 66407,
 8205,
 58089,
 64950,
 54689,
 57159,
 75918,
 42472,
 47076,
 47428,
 56450,
 56654,
 57405,
 55182,
 80039,
 50235,
 34782,
 5846,
 54670,
 64483,
 59949,
 37215,
 4980,
 34094,
 63599,
 48150,
 34807,
 79815,
 34563,
 44867,
 76200,
 66259,
 50004,
 73737,
 86079,
 28296,
 73891,
 52061,
 47477,
 79171,
 80911,
 49887,
 77580,
 34662,
 82005,
 42905,
 51692,
 46564,
 36187,
 44977,
 36040,
 46224,
 43519,
 78864,
 40076,
 76875,
 83576,
 52365,
 69040,
 60121,
 69122,
 77182,
 35522,
 44107,
 80278,
 73155,
 78485,
 34251,
 53306,
 2782,
 51998,
 49010,
 55573,
 53906,
 73083,
 53315,
 37414,
 40544,
 35732,
 64719,
 58213,
 46928,
 53934,
 38845,
 39806,
 40603,
 66052,
 36522,
 66621,
 44887,
 49109,
 50450,
 50040,
 54273,
 32476,
 71836,
 64232,
 63068,
 27167,
 47625,
 61798,
 41256,
 61669,
 65363,
 60401,
 52965,
 50366,
 84367,
 57976,
 83675,
 61413,
 85237,
 83038,
 78586,
 3065,
 61396,
 77738,
 50918,
 45740,
 59073,
 47310,
 41538,
 37238,
 79714,
 32202,
 5075,
 79355,
 63814,
 37517,
 31566,
 76041,
 56297,
 39321,
 36800,
 65618,
 68228,
 42778,
 32757,
 55483,
 37178,
 38444,
 33227,
 40367,
 41914,
 51329,
 59841,
 83080,
 62910,
 38412,
 61011,
 44671,
 38995,
 66768,
 43375,
 48786,
 55607,
 40345,
 57169,
 5729,
 41631,
 52273,
 61686,
 50138,
 79765,
 57041,
 43374,
 76176,
 68655,
 34158,
 41330,
 65626,
 42970,
 59876,
 36017,
 37983,
 72191,
 76738,
 59127,
 45746,
 47719,
 55163,
 65348,
 65357,
 45602,
 82979,
 86230,
 61564,
 71283,
 66246,
 48587,
 47751,
 45970,
 34281,
 45709,
 55352,
 62586,
 49959,
 34778,
 41826,
 57328,
 82928,
 83618,
 75218,
 76162,
 44482,
 46521,
 37198,
 81087,
 80832,
 54132,
 42647,
 42796,
 43163,
 39347,
 84546,
 30710,
 30922,
 30993,
 31065,
 41361,
 57741,
 66985,
 47460,
 53583,
 39709,
 53345,
 65887,
 17842,
 17928,
 49436,
 45432,
 45524,
 45588,
 45619,
 45625,
 47732,
 47753,
 47822,
 48682,
 48708,
 48866,
 48935,
 48942,
 49244,
 49259,
 49266,
 49297,
 48771,
 66855,
 59335,
 59348,
 59387,
 29756,
 29772,
 29778,
 72577,
 72585,
 72594,
 64829,
 64891,
 62689,
 55119,
 83973,
 23078,
 53367,
 53413,
 21404,
 21494,
 76852,
 45367,
 39529,
 47281,
 39492,
 39716,
 58410,
 44208,
 57715,
 84040,
 84043,
 45416,
 7074,
 34289,
 68866,
 69840,
 63454,
 63456,
 65229,
 65392,
 65440,
 69943,
 66306,
 60152,
 60033,
 60040,
 57831,
 47795,
 47802,
 47808,
 47822,
 47827,
 78855,
 76010,
 76643,
 37689,
 37908,
 48796,
 72770,
 18464,
 77464,
 77471,
 18138,
 18143,
 18151,
 18158,
 18186,
 41212,
 41214,
 41219,
 41300,
 41349,
 44698,
 78944,
 51330,
 73753,
 48952,
 51560,
 41448,
 42466,
 42498,
 62490,
 45772,
 43140,
 73782,
 73976,
 73809,
 2987,
 26514,
 41002,
 55174,
 48974,
 35405,
 77166,
 50768,
 84758,
 74116,
 58007,
 62395,
 59183,
 59571,
 59900,
 54918,
 58490,
 75178,
 39980,
 62323,
 7406,
 56142,
 56170,
 64859,
 65461,
 37530,
 56250,
 35947,
 72826,
 57598,
 53788,
 69329,
 52008,
 52318,
 34661,
 61517,
 69181,
 52949,
 84167,
 45435,
 52668,
 51868,
 39451,
 49990,
 76529,
 62926,
 52772,
 43442,
 41193,
 43751,
 25750,
 43335,
 62645,
 45038,
 60027,
 41386,
 50090,
 47351,
 75258,
 73480,
 34621,
 41493,
 59542,
 41763,
 39074,
 84249,
 52927,
 52785,
 57286,
 59488,
 85490,
 31448,
 61014,
 61161,
 38666,
 75667,
 71198,
 49326,
 65958,
 71688,
 62264,
 64002,
 75414,
 67927,
 67967,
 51338,
 70857,
 60293,
 62642,
 58591,
 69445,
 49646,
 26856,
 42390,
 42413,
 61838,
 61857,
 42173,
 78943,
 45859,
 40344,
 30311,
 78083,
 76552,
 74745,
 60477,
 60485,
 70735,
 64702,
 70180,
 44266,
 39785,
 45134,
 57290,
 58524,
 32046,
 59382,
 70098,
 36871,
 84528,
 52976,
 31443,
 59087,
 72003,
 44529,
 25978,
 25981,
 29933,
 72660,
 67796,
 35550,
 55238,
 79100,
 72909,
 41240,
 69794,
 70637,
 42687,
 42883,
 43141,
 64430,
 78427,
 26329,
 60779,
 28220,
 40181,
 64258,
 78753,
 41965,
 48458,
 78737,
 57511,
 48558,
 50747,
 40739,
 598,
 37807,
 49076,
 47180,
 49966,
 40592,
 69648,
 57940,
 61856,
 43328,
 43500,
 39992,
 79489,
 71199,
 77197,
 61928,
 41717,
 41740,
 61699,
 83865,
 36166,
 51730,
 80892,
 59313,
 34928,
 56945,
 41148,
 49543,
 47120,
 52099,
 39401,
 71781,
 39021,
 73260,
 18060,
 62624,
 49316,
 50141,
 62133,
 37930,
 33907,
 58852,
 61331,
 ...]

In [63]:
train_copy['timestamp']=a

In [64]:
train_copy

,id,ad,link,timestamp,checkout,order_placed,grp,funnel_level
0,9026,6332,952,52762,1,1,101,0
1,10374,7463,952,31163,1,1,101,0
2,4564,404,952,62641,1,1,101,0
3,1278,4364,952,38577,1,1,101,0
4,1278,4364,952,38599,1,1,101,0
5,2864,5798,943,82684,1,1,11,0
6,6798,6148,943,60441,1,1,11,0
7,12772,2619,943,57456,1,1,11,0
8,9719,3278,943,58254,1,1,11,0
9,3151,7429,943,29945,1,1,11,0
10,2161,9395,943,51355,1,1,11,0
11,4826,9347,943,57771,1,0,11,0
12,11212,9375,943,48054,1,1,11,0
13,7726,4731,943,46961,1,1,11,0
14,12662,4696,943,70759,1,0,11,0
15,10205,5328,943,53858,1,1,11,0
16,13479,5279,943,82480,1,1,11,0
17,11268,5300,943,77695,1,1,11,0
18,947,5910,943,41705,1,1,11,0
19,11732,5907,943,53807,1,1,11,0
20,2231,5889,943,66769,1,1,11,0
21,7269,6483,943,51304,0,1,11,0
22,2017,7061,943,48502,1,1,11,0
23,13212,7083,943,71637,1,1,11,0
24,5614,7031,943,51965,1,1,11,0
25,5873,7068,943,39632,1,1,11,0
26,11745,7090,943,65680,1,1,11,0
27,5072,7069,943,52484,1,0,11,0
28,5251,7624,943,59550,1,1,11,0
29,7615,7622,943,81022,1,1,11,0
...,...,...,...,...,...,...,...,...
199380,740,2660,2223,37317,1,0,46,1
199381,6958,2822,2223,78826,0,0,46,1
199382,3978,3379,2223,56186,0,0,46,1
199383,3844,4328,2223,37893,1,1,46,1
199384,1019,4578,2223,23056,0,0,46,1
199385,5270,1933,2204,76788,1,0,72,2
199386,975,2161,2204,68244,0,0,72,2
199387,5849,4470,2204,79587,1,0,72,2
199388,1454,10362,2218,50684,0,0,28,2
199389,1603,7144,2218,54718,0,0,28,2
199390,1679,10362,2215,59177,0,0,8,2
199391,3824,10362,2212,74769,1,0,106,2
199392,3824,10362,2212,74769,1,0,7,2
199393,4242,10362,2206,35193,0,0,76,2
199394,11698,10362,2205,75389,1,0,76,2
199395,13496,10362,2205,40134,1,1,76,2
199396,9308,10362,2205,43616,0,0,76,2
199397,1728,10362,2205,38510,0,0,76,2
199398,6736,5307,2203,79392,0,0,91,2
199399,2943,5360,2203,3231,0,0,91,2
199400,6736,5307,2203,79392,0,0,70,2
199401,2943,5360,2203,3231,0,0,70,2
199402,13560,10318,2209,76347,0,0,100,2
199403,11289,9772,2210,46224,0,0,100,2
199404,8762,3749,2211,61076,0,0,100,2
199405,11235,10362,2216,49218,0,1,15,2
199406,2222,10362,2216,55254,0,0,15,2
199407,3122,10362,2216,62126,1,0,15,2
199408,8680,1537,2216,52412,0,0,15,2
199409,6005,2287,2216,33861,0,0,15,2

In [65]:
train_copy.to_csv('train.csv')