In [1]:
import pandas as pd
from sklearn import ensemble

In [7]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

In [8]:
train.head()

      id    ad  link  timestamp  checkout  order_placed  grp  funnel_level
0   9026  6332   952      52762         1             1  101             0
1  10374  7463   952      31163         1             1  101             0
2   4564   404   952      62641         1             1  101             0
3   1278  4364   952      38577         1             1  101             0
4   1278  4364   952      38599         1             1  101             0

In [9]:
test.head()

     id    ad  link  timestamp  grp  funnel_level
0  1728  2088   529      60951   98             0
1  3236   764   529      45400   98             0
2   818   811   529      73244   98             0
3  3344  2036   523      77553   11             0
4  3444  1246   523      56985   11             0